.img-fluid{
    border-radius: 2em;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./pexels-karolina-grabowska-4386464.jpg');
}
.back{
   
    background-image: url('../mainimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-registration{
    transition: 0.5s;
    box-shadow: 5px 5px  rgb(12, 12, 12); 
    background-color: rgb(43, 42, 42);
    opacity: 75%;
    width: 100%;  
    border: 2px solid rgb(12, 12, 12);
    border-radius: 2em;
}
.card-registration:hover{
    transition: 0.5s;
    box-shadow: 5px 5px 15px  rgb(0, 0, 0); 
    background-color: rgb(43, 42, 42);
    opacity: 90%;
    width: 100%;  
    height: 71.5%;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 2em;
}